@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
background: linear-gradient(to top, black, #e74c3c);
min-height: 100vh;
align-items: center;
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.container {
    border-radius: 5%;
    position: relative;
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6);
}

.input-campo {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    opacity: 0.5;
    width: 450px;
    margin-left: 14px;
}

.cadastrar {
    background-color: rgb(226, 94, 94);
    color: white;
    border: none;
    border-radius: 100px;
    padding: 15px 20px;
    width: 120px;
    display: flex;
    margin: 20px auto 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.8s ease;
}

.cadastrar:hover {
    background-color: rgb(190, 60, 60);  
    transform: scale(1.05);              
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
}
    
       

.cadastrar1{
border-bottom: 1px solid lightgray;
display: inline-block;
margin-left: 20px;
font-family: "Anton", sans-serif;




}
.area{
padding-left: 8px;

}
